# coding: utf-8

"""
    Helpdesk REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 6.8.1-SNAPSHOT
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AutoConfigureSiteApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def post_auto_configure_site(self, cucm_server_id, device_pool_name, **kwargs):  # noqa: E501
        """Generates a SiteJson using CUCM stats for the corresponding CUCM server ID and device pool name.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_auto_configure_site(cucm_server_id, device_pool_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int cucm_server_id: The id of the cucm server for the new site (required)
        :param str device_pool_name: The devicepool for the new site (required)
        :return: SiteJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_auto_configure_site_with_http_info(cucm_server_id, device_pool_name, **kwargs)  # noqa: E501
        else:
            (data) = self.post_auto_configure_site_with_http_info(cucm_server_id, device_pool_name, **kwargs)  # noqa: E501
            return data

    def post_auto_configure_site_with_http_info(self, cucm_server_id, device_pool_name, **kwargs):  # noqa: E501
        """Generates a SiteJson using CUCM stats for the corresponding CUCM server ID and device pool name.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_auto_configure_site_with_http_info(cucm_server_id, device_pool_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int cucm_server_id: The id of the cucm server for the new site (required)
        :param str device_pool_name: The devicepool for the new site (required)
        :return: SiteJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cucm_server_id', 'device_pool_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_auto_configure_site" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cucm_server_id' is set
        if ('cucm_server_id' not in params or
                params['cucm_server_id'] is None):
            raise ValueError("Missing the required parameter `cucm_server_id` when calling `post_auto_configure_site`")  # noqa: E501
        # verify the required parameter 'device_pool_name' is set
        if ('device_pool_name' not in params or
                params['device_pool_name'] is None):
            raise ValueError("Missing the required parameter `device_pool_name` when calling `post_auto_configure_site`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cucm_server_id' in params:
            path_params['cucmServerId'] = params['cucm_server_id']  # noqa: E501
        if 'device_pool_name' in params:
            path_params['devicePoolName'] = params['device_pool_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/config/auto-configure-sites/{cucmServerId}/{devicePoolName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SiteJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
