# coding: utf-8

"""
    Helpdesk REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 6.8.0-SNAPSHOT
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DNDetailSummaryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_dn_detail_summary(self, dn_id, server_id, **kwargs):  # noqa: E501
        """Retrieve DN/DID/Voicemail summaries for a DN  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dn_detail_summary(dn_id, server_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dn_id: The id of the Directory Number (required)
        :param int server_id: The id of the server the Directory Number is located in (required)
        :return: DnDetailSummaryJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_dn_detail_summary_with_http_info(dn_id, server_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dn_detail_summary_with_http_info(dn_id, server_id, **kwargs)  # noqa: E501
            return data

    def get_dn_detail_summary_with_http_info(self, dn_id, server_id, **kwargs):  # noqa: E501
        """Retrieve DN/DID/Voicemail summaries for a DN  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dn_detail_summary_with_http_info(dn_id, server_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dn_id: The id of the Directory Number (required)
        :param int server_id: The id of the server the Directory Number is located in (required)
        :return: DnDetailSummaryJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dn_id', 'server_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dn_detail_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dn_id' is set
        if ('dn_id' not in params or
                params['dn_id'] is None):
            raise ValueError("Missing the required parameter `dn_id` when calling `get_dn_detail_summary`")  # noqa: E501
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `get_dn_detail_summary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dn_id' in params:
            path_params['dnId'] = params['dn_id']  # noqa: E501
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/views/cucm-servers/{serverId}/dn-detail-summaries/{dnId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DnDetailSummaryJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
