# coding: utf-8

"""
    SMACS REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 7.2.0-SNAPSHOT
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class MicrosoftTeamsUsersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def search_ms_teams_users(self, **kwargs):  # noqa: E501
        """Search for Microsoft Teams Users, by 'q', lineUri, firstname, lastName or userPrincipalName. Note: The maximum number of results is set to 1000.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_ms_teams_users(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: Search for any field containing q
        :param str line_uri: Search for all matching lineURI
        :param str firstname: Search for all matching firstName
        :param str last_name: Search for all matching lastName
        :param str user_principal_name: Search for all matching userPrincipalName
        :return: list[MsTeamsUserResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_ms_teams_users_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.search_ms_teams_users_with_http_info(**kwargs)  # noqa: E501
            return data

    def search_ms_teams_users_with_http_info(self, **kwargs):  # noqa: E501
        """Search for Microsoft Teams Users, by 'q', lineUri, firstname, lastName or userPrincipalName. Note: The maximum number of results is set to 1000.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_ms_teams_users_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: Search for any field containing q
        :param str line_uri: Search for all matching lineURI
        :param str firstname: Search for all matching firstName
        :param str last_name: Search for all matching lastName
        :param str user_principal_name: Search for all matching userPrincipalName
        :return: list[MsTeamsUserResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['q', 'line_uri', 'firstname', 'last_name', 'user_principal_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_ms_teams_users" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'line_uri' in params:
            query_params.append(('lineUri', params['line_uri']))  # noqa: E501
        if 'firstname' in params:
            query_params.append(('firstname', params['firstname']))  # noqa: E501
        if 'last_name' in params:
            query_params.append(('lastName', params['last_name']))  # noqa: E501
        if 'user_principal_name' in params:
            query_params.append(('userPrincipalName', params['user_principal_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/search/microsoft-teams-users', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[MsTeamsUserResultJson]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
