# coding: utf-8

"""
    Helpdesk REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 6.8.1-SNAPSHOT
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SingleNumberReachApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_snr_destination(self, server_id, profile_id, snr_destination_id, **kwargs):  # noqa: E501
        """Delete the destination on an SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_snr_destination(server_id, profile_id, snr_destination_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param str snr_destination_id: The id of the SNR destination (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, **kwargs)  # noqa: E501
            return data

    def delete_snr_destination_with_http_info(self, server_id, profile_id, snr_destination_id, **kwargs):  # noqa: E501
        """Delete the destination on an SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param str snr_destination_id: The id of the SNR destination (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'profile_id', 'snr_destination_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_snr_destination" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `delete_snr_destination`")  # noqa: E501
        # verify the required parameter 'profile_id' is set
        if ('profile_id' not in params or
                params['profile_id'] is None):
            raise ValueError("Missing the required parameter `profile_id` when calling `delete_snr_destination`")  # noqa: E501
        # verify the required parameter 'snr_destination_id' is set
        if ('snr_destination_id' not in params or
                params['snr_destination_id'] is None):
            raise ValueError("Missing the required parameter `snr_destination_id` when calling `delete_snr_destination`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'profile_id' in params:
            path_params['profileId'] = params['profile_id']  # noqa: E501
        if 'snr_destination_id' in params:
            path_params['snrDestinationId'] = params['snr_destination_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{profileId}/snr-destinations/{snrDestinationId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_snr_profile(self, server_id, snr_profile_id, **kwargs):  # noqa: E501
        """Delete an SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_snr_profile(server_id, snr_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str snr_profile_id: The id of the SNR profile (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_snr_profile_with_http_info(server_id, snr_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_snr_profile_with_http_info(server_id, snr_profile_id, **kwargs)  # noqa: E501
            return data

    def delete_snr_profile_with_http_info(self, server_id, snr_profile_id, **kwargs):  # noqa: E501
        """Delete an SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_snr_profile_with_http_info(server_id, snr_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str snr_profile_id: The id of the SNR profile (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'snr_profile_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_snr_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `delete_snr_profile`")  # noqa: E501
        # verify the required parameter 'snr_profile_id' is set
        if ('snr_profile_id' not in params or
                params['snr_profile_id'] is None):
            raise ValueError("Missing the required parameter `snr_profile_id` when calling `delete_snr_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'snr_profile_id' in params:
            path_params['snrProfileId'] = params['snr_profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{snrProfileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_snr_destination(self, server_id, profile_id, snr_destination_id, **kwargs):  # noqa: E501
        """Get the particular destination on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_snr_destination(server_id, profile_id, snr_destination_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param str snr_destination_id: The id of the SNR destination (required)
        :return: SnrDestinationJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, **kwargs)  # noqa: E501
            return data

    def get_snr_destination_with_http_info(self, server_id, profile_id, snr_destination_id, **kwargs):  # noqa: E501
        """Get the particular destination on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param str snr_destination_id: The id of the SNR destination (required)
        :return: SnrDestinationJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'profile_id', 'snr_destination_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_snr_destination" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `get_snr_destination`")  # noqa: E501
        # verify the required parameter 'profile_id' is set
        if ('profile_id' not in params or
                params['profile_id'] is None):
            raise ValueError("Missing the required parameter `profile_id` when calling `get_snr_destination`")  # noqa: E501
        # verify the required parameter 'snr_destination_id' is set
        if ('snr_destination_id' not in params or
                params['snr_destination_id'] is None):
            raise ValueError("Missing the required parameter `snr_destination_id` when calling `get_snr_destination`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'profile_id' in params:
            path_params['profileId'] = params['profile_id']  # noqa: E501
        if 'snr_destination_id' in params:
            path_params['snrDestinationId'] = params['snr_destination_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{profileId}/snr-destinations/{snrDestinationId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SnrDestinationJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_snr_profile(self, server_id, snr_profile_id, **kwargs):  # noqa: E501
        """Get SNR Profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_snr_profile(server_id, snr_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str snr_profile_id: The id of the SNR profile (required)
        :return: SnrProfileJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_snr_profile_with_http_info(server_id, snr_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_snr_profile_with_http_info(server_id, snr_profile_id, **kwargs)  # noqa: E501
            return data

    def get_snr_profile_with_http_info(self, server_id, snr_profile_id, **kwargs):  # noqa: E501
        """Get SNR Profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_snr_profile_with_http_info(server_id, snr_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str snr_profile_id: The id of the SNR profile (required)
        :return: SnrProfileJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'snr_profile_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_snr_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `get_snr_profile`")  # noqa: E501
        # verify the required parameter 'snr_profile_id' is set
        if ('snr_profile_id' not in params or
                params['snr_profile_id'] is None):
            raise ValueError("Missing the required parameter `snr_profile_id` when calling `get_snr_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'snr_profile_id' in params:
            path_params['snrProfileId'] = params['snr_profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{snrProfileId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SnrProfileJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_snr_destinations(self, server_id, profile_id, **kwargs):  # noqa: E501
        """Get all destinations on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_snr_destinations(server_id, profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :return: list[SnrDestinationJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_snr_destinations_with_http_info(server_id, profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_snr_destinations_with_http_info(server_id, profile_id, **kwargs)  # noqa: E501
            return data

    def list_snr_destinations_with_http_info(self, server_id, profile_id, **kwargs):  # noqa: E501
        """Get all destinations on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_snr_destinations_with_http_info(server_id, profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :return: list[SnrDestinationJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'profile_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_snr_destinations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `list_snr_destinations`")  # noqa: E501
        # verify the required parameter 'profile_id' is set
        if ('profile_id' not in params or
                params['profile_id'] is None):
            raise ValueError("Missing the required parameter `profile_id` when calling `list_snr_destinations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'profile_id' in params:
            path_params['profileId'] = params['profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{profileId}/snr-destinations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SnrDestinationJson]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_snr_destination(self, server_id, profile_id, **kwargs):  # noqa: E501
        """Create a new destination on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_snr_destination(server_id, profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param SnrDestinationJson body: The details of the new destination
        :return: SnrDestinationRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_snr_destination_with_http_info(server_id, profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_snr_destination_with_http_info(server_id, profile_id, **kwargs)  # noqa: E501
            return data

    def post_snr_destination_with_http_info(self, server_id, profile_id, **kwargs):  # noqa: E501
        """Create a new destination on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_snr_destination_with_http_info(server_id, profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param SnrDestinationJson body: The details of the new destination
        :return: SnrDestinationRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'profile_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_snr_destination" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `post_snr_destination`")  # noqa: E501
        # verify the required parameter 'profile_id' is set
        if ('profile_id' not in params or
                params['profile_id'] is None):
            raise ValueError("Missing the required parameter `profile_id` when calling `post_snr_destination`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'profile_id' in params:
            path_params['profileId'] = params['profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{profileId}/snr-destinations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SnrDestinationRefJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_snr_profile(self, server_id, **kwargs):  # noqa: E501
        """Create a new SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_snr_profile(server_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is to be created in (required)
        :param SnrProfileJson body: The details of the SNR Profile to create
        :return: SnrProfileRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_snr_profile_with_http_info(server_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_snr_profile_with_http_info(server_id, **kwargs)  # noqa: E501
            return data

    def post_snr_profile_with_http_info(self, server_id, **kwargs):  # noqa: E501
        """Create a new SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_snr_profile_with_http_info(server_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is to be created in (required)
        :param SnrProfileJson body: The details of the SNR Profile to create
        :return: SnrProfileRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_snr_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `post_snr_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SnrProfileRefJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_snr_destination(self, server_id, profile_id, snr_destination_id, **kwargs):  # noqa: E501
        """Update the destination on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_snr_destination(server_id, profile_id, snr_destination_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param str snr_destination_id: The updated SNR destination details (required)
        :param SnrDestinationJson body:
        :return: SnrDestinationRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, **kwargs)  # noqa: E501
            return data

    def put_snr_destination_with_http_info(self, server_id, profile_id, snr_destination_id, **kwargs):  # noqa: E501
        """Update the destination on a profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_snr_destination_with_http_info(server_id, profile_id, snr_destination_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str profile_id: The id of the SNR profile (required)
        :param str snr_destination_id: The updated SNR destination details (required)
        :param SnrDestinationJson body:
        :return: SnrDestinationRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'profile_id', 'snr_destination_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_snr_destination" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `put_snr_destination`")  # noqa: E501
        # verify the required parameter 'profile_id' is set
        if ('profile_id' not in params or
                params['profile_id'] is None):
            raise ValueError("Missing the required parameter `profile_id` when calling `put_snr_destination`")  # noqa: E501
        # verify the required parameter 'snr_destination_id' is set
        if ('snr_destination_id' not in params or
                params['snr_destination_id'] is None):
            raise ValueError("Missing the required parameter `snr_destination_id` when calling `put_snr_destination`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'profile_id' in params:
            path_params['profileId'] = params['profile_id']  # noqa: E501
        if 'snr_destination_id' in params:
            path_params['snrDestinationId'] = params['snr_destination_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{profileId}/snr-destinations/{snrDestinationId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SnrDestinationRefJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_snr_profile(self, server_id, snr_profile_id, **kwargs):  # noqa: E501
        """Update an SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_snr_profile(server_id, snr_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str snr_profile_id: The id of the SNR profile (required)
        :param SnrProfileJson body:
        :return: SnrProfileRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_snr_profile_with_http_info(server_id, snr_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_snr_profile_with_http_info(server_id, snr_profile_id, **kwargs)  # noqa: E501
            return data

    def put_snr_profile_with_http_info(self, server_id, snr_profile_id, **kwargs):  # noqa: E501
        """Update an SNR profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_snr_profile_with_http_info(server_id, snr_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the SNR profile is located in (required)
        :param str snr_profile_id: The id of the SNR profile (required)
        :param SnrProfileJson body:
        :return: SnrProfileRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'snr_profile_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_snr_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `put_snr_profile`")  # noqa: E501
        # verify the required parameter 'snr_profile_id' is set
        if ('snr_profile_id' not in params or
                params['snr_profile_id'] is None):
            raise ValueError("Missing the required parameter `snr_profile_id` when calling `put_snr_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'snr_profile_id' in params:
            path_params['snrProfileId'] = params['snr_profile_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/cucm-servers/{serverId}/snr-profiles/{snrProfileId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SnrProfileRefJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_snr_destination(self, **kwargs):  # noqa: E501
        """Search for an SNR destination, by 'q', destination or by name.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_snr_destination(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: Query to search all fields for
        :param str destination: Search for SNR destinations by matching destination
        :param str name: Search for SNR destinations by matching name
        :param int cucm_server_id: Search for SNR destinations by the id of the server they're located in
        :return: list[SnrDestinationResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_snr_destination_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.search_snr_destination_with_http_info(**kwargs)  # noqa: E501
            return data

    def search_snr_destination_with_http_info(self, **kwargs):  # noqa: E501
        """Search for an SNR destination, by 'q', destination or by name.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_snr_destination_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: Query to search all fields for
        :param str destination: Search for SNR destinations by matching destination
        :param str name: Search for SNR destinations by matching name
        :param int cucm_server_id: Search for SNR destinations by the id of the server they're located in
        :return: list[SnrDestinationResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['q', 'destination', 'name', 'cucm_server_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_snr_destination" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'destination' in params:
            query_params.append(('destination', params['destination']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'cucm_server_id' in params:
            query_params.append(('cucmServerId', params['cucm_server_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/search/snr-destination', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SnrDestinationResultJson]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_snr_profile(self, **kwargs):  # noqa: E501
        """Search for an SNR Profile, by 'q', name, description, extension or owner username  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_snr_profile(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: Query to search all fields for
        :param str name: Search SNR profiles by matching name
        :param str description: Search SNR profiles by matching description
        :param str extension: Search SNR profiles by matching extension
        :param str owner_username: Search SNR profiles by matching owner username
        :param int cucm_server_id: Search SNR profiles by the id of the server they're located in
        :param int limit: Limit the search results
        :return: list[SnrProfileResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_snr_profile_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.search_snr_profile_with_http_info(**kwargs)  # noqa: E501
            return data

    def search_snr_profile_with_http_info(self, **kwargs):  # noqa: E501
        """Search for an SNR Profile, by 'q', name, description, extension or owner username  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_snr_profile_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: Query to search all fields for
        :param str name: Search SNR profiles by matching name
        :param str description: Search SNR profiles by matching description
        :param str extension: Search SNR profiles by matching extension
        :param str owner_username: Search SNR profiles by matching owner username
        :param int cucm_server_id: Search SNR profiles by the id of the server they're located in
        :param int limit: Limit the search results
        :return: list[SnrProfileResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['q', 'name', 'description', 'extension', 'owner_username', 'cucm_server_id', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_snr_profile" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'description' in params:
            query_params.append(('description', params['description']))  # noqa: E501
        if 'extension' in params:
            query_params.append(('extension', params['extension']))  # noqa: E501
        if 'owner_username' in params:
            query_params.append(('ownerUsername', params['owner_username']))  # noqa: E501
        if 'cucm_server_id' in params:
            query_params.append(('cucm-server-id', params['cucm_server_id']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/search/snr-profiles', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SnrProfileResultJson]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
