# coding: utf-8

"""
    Helpdesk REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 6.8.1-SNAPSHOT
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UCCXAgentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_uccx_agent(self, server_id, agent_id, **kwargs):  # noqa: E501
        """Retrieve a uccx agent/resource from the server  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_uccx_agent(server_id, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the agent is located in (required)
        :param str agent_id: The id of the agent (required)
        :return: UccxAgentJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_uccx_agent_with_http_info(server_id, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_uccx_agent_with_http_info(server_id, agent_id, **kwargs)  # noqa: E501
            return data

    def get_uccx_agent_with_http_info(self, server_id, agent_id, **kwargs):  # noqa: E501
        """Retrieve a uccx agent/resource from the server  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_uccx_agent_with_http_info(server_id, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int server_id: The id of the server the agent is located in (required)
        :param str agent_id: The id of the agent (required)
        :return: UccxAgentJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_uccx_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `get_uccx_agent`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_uccx_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/uccx-servers/{serverId}/uccx-agents/{agentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UccxAgentJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_uccx_agent(self, body, server_id, agent_id, **kwargs):  # noqa: E501
        """Modify an existing uccx agent/resource  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_uccx_agent(body, server_id, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UccxAgentJson body: The updated agent details (required)
        :param int server_id: The id of the server the agent is located in (required)
        :param str agent_id: The id of the agent (required)
        :return: UccxAgentRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_uccx_agent_with_http_info(body, server_id, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_uccx_agent_with_http_info(body, server_id, agent_id, **kwargs)  # noqa: E501
            return data

    def put_uccx_agent_with_http_info(self, body, server_id, agent_id, **kwargs):  # noqa: E501
        """Modify an existing uccx agent/resource  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_uccx_agent_with_http_info(body, server_id, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UccxAgentJson body: The updated agent details (required)
        :param int server_id: The id of the server the agent is located in (required)
        :param str agent_id: The id of the agent (required)
        :return: UccxAgentRefJson
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'server_id', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_uccx_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_uccx_agent`")  # noqa: E501
        # verify the required parameter 'server_id' is set
        if ('server_id' not in params or
                params['server_id'] is None):
            raise ValueError("Missing the required parameter `server_id` when calling `put_uccx_agent`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `put_uccx_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['serverId'] = params['server_id']  # noqa: E501
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mac/uccx-servers/{serverId}/uccx-agents/{agentId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UccxAgentRefJson',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_uccx_agent(self, **kwargs):  # noqa: E501
        """Search for an exact match of the UCCX agent username. If a uccx-server id is specified, the search will be performed on that server. Otherwise, the search will be performed on all servers.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_uccx_agent(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str username: The agent user name to search for
        :param int uccx_server_id: The id of the server the agent is located in
        :return: list[UccxAgentResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_uccx_agent_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.search_uccx_agent_with_http_info(**kwargs)  # noqa: E501
            return data

    def search_uccx_agent_with_http_info(self, **kwargs):  # noqa: E501
        """Search for an exact match of the UCCX agent username. If a uccx-server id is specified, the search will be performed on that server. Otherwise, the search will be performed on all servers.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_uccx_agent_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str username: The agent user name to search for
        :param int uccx_server_id: The id of the server the agent is located in
        :return: list[UccxAgentResultJson]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['username', 'uccx_server_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_uccx_agent" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'username' in params:
            query_params.append(('username', params['username']))  # noqa: E501
        if 'uccx_server_id' in params:
            query_params.append(('uccx-server-id', params['uccx_server_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/search/uccx-agents', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[UccxAgentResultJson]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
